### ğŸ“ íšŒê·€ ì„±ëŠ¥ ì§€í‘œ
##### MSE
- ì˜ˆì¸¡ê°’ê³¼ ì‹¤ì œê°’ì˜ ì°¨ì´ë¥¼ ì œê³±í•œ ê°’ì„ ëª¨ë‘ ë”í•˜ì—¬ í‰ê· ì„ í•œ ê°’ì´ë‹¤.
- ì œê³±ì„ í•˜ê¸° ë•Œë¬¸ì— ì´ìƒì¹˜ ë•Œë¬¸ì— ì°¨ì´ê°€ í¬ê²Œ ë‚˜íƒ€ë‚˜ë©´ í¬ê¸°ê°€ ë§ì´ ëŠ˜ì–´ë‚œë‹¤(ì´ìƒì¹˜ì— ë¯¼ê°í•˜ë‹¤).

##### MAE
- ëª¨ë¸ì˜ ì˜ˆì¸¡ê°’ê³¼ ì‹¤ì œê°’ì˜ ì°¨ì´ë¥¼ ì ˆëŒ“ê°’ì„ ì·¨í•´ ëª¨ë‘ ë”í•˜ì—¬ í‰ê· ì„ í•œ ê°’ì´ë‹¤. 
- ì ˆëŒ€ê°’ì„ ì·¨í•˜ê¸° ë•Œë¬¸ì— ì‹¤ì œê°’ë³´ë‹¤ ëª¨ë¸ì´ ë†’ì€ ê°’ì¸ì§€ ì ì€ ê°’ì¸ì§€ëŠ” ì•Œ ìˆ˜ ì—†ê³ , ì°¨ì´ì˜ í¬ê¸°ë§Œ ì•Œ ìˆ˜ ìˆë‹¤.

##### RSME
- MSEì— ë£¨íŠ¸ë¥¼ ì”Œìš´ ê°’ì´ë‹¤.
- ì˜¤ë¥˜ì§€í‘œë¥¼ ìµœëŒ€í•œ ì‹¤ì œê°’ê³¼ ë¹„ìŠ·í•˜ê²Œ ë§Œë“¤ì–´ì„œ ì´ìƒì¹˜ì— ì˜ˆë¯¼í•œ ë¶€ë¶„ì„ ì œê±°í•˜ë©°, í•´ì„ì„ ìš©ì´í•˜ê²Œ í•œë‹¤.

##### R2 score(R-sqared)
- ë¶„ì‚° ê¸°ë°˜ìœ¼ë¡œ ì˜ˆì¸¡ ì„±ëŠ¥ì„ í‰ê°€í•˜ê¸° ë•Œë¬¸ì—, ì‹¤ì œê°’ì˜ ë¶„ì‚°ì´ ë†’ì„ ê²½ìš° ì˜ˆì¸¡ì€ ì–´ë ¤ì›Œì§€ë©°, ì‹¤ì œê°’ì˜ ë¶„ì‚°ì´ ë‚®ì„ ìˆ˜ë¡ ì˜ˆì¸¡ì€ ì‰¬ì›Œì§„ë‹¤.
- 0ë¶€í„° 1ì‚¬ì´ì˜ ê°’ì„ ë‚˜íƒ€ë‚´ê¸° ë•Œë¬¸ì— ìŠ¤ì¼€ì¼ì˜ ì˜í–¥ ì—†ì´ r2ì˜ ê°’ë§Œ ë³´ê³  ì„±ëŠ¥ì„ íŒë‹¨í•  ìˆ˜ ìˆëŠ” ì¥ì ì„ ê°€ì§„ë‹¤.
- ê°€ì¤‘ì¹˜ê°€ ëŠ˜ì–´ë‚˜ê±°ë‚˜ ë°ì´í„°ì˜ ê°œìˆ˜ê°€ ë§ì•„ì§€ë©´ r2ì˜ ê°’ë„ ê°™ì´ ëŠ˜ì–´ë‚˜ê¸° ë•Œë¬¸ì— r2 score í•˜ë‚˜ë§Œìœ¼ë¡œëŠ” ì •í™•í•œ ì„±ëŠ¥ ì§€í‘œê°€ ë˜ê¸° ì–´ë µë‹¤.  
- RÂ² = ì˜ˆì¸¡ê°’ Variance / ì‹¤ì œê°’ Variance
  
<img src="./images/evaluation01.png" style="margin: 20px; margin-left: -10px">

##### RMSLE
- ë¡œê·¸ë¡œ ë³€í™˜í•˜ê¸° ë•Œë¬¸ì— í° í­ì˜ ì´ìƒì¹˜ì— ê°•ê±´í•˜ë‹¤(ì˜í–¥ì„ ëœ ë°›ëŠ”ë‹¤).
- ìƒëŒ€ì  Errorë¥¼ ì¸¡ì •í•´ì¤€ë‹¤.
> ì˜ˆì¸¡ê°’ = 100, ì‹¤ì œê°’ = 90ì¼ ë•Œ, <strong>RMSLE = 0.1053</strong>, RMSE = 10  
> ì˜ˆì¸¡ê°’ = 10,000, ì‹¤ì œê°’ = 9,000ì¼ ë•Œ, <strong>RMSLE = 0.1053</strong>, RMSE = 1,000  

-  Under Estimation(ì˜ˆì¸¡ê°’ì´ ì‹¤ì œê°’ë³´ë‹¤ ì‘ì„ ë•Œ)ì— í° íŒ¨ë„í‹°ë¥¼ ë¶€ì—¬í•œë‹¤.
> ì˜ˆì¸¡ê°’ = 600, ì‹¤ì œê°’ = 1,000ì¼ ë•Œ RMSE = 400, RMSLE = 0.510  
> ì˜ˆì¸¡ê°’ = 1,400, ì‹¤ì œê°’ = 1,000ì¼ ë•Œ RMSE = 400, RMSLE = 0.33  
ğŸš© <strong>ì‘ì—… ì™„ë£Œê¹Œì§€ 30ë¶„ìœ¼ë¡œ ì˜ˆì¸¡í•˜ì˜€ìœ¼ë‚˜ 20ë¶„ì´ ê±¸ë¦¬ë©´ ë¬¸ì œê°€ ì—†ì§€ë§Œ, 40ë¶„ì´ ê±¸ë¦¬ë©´ ë¬¸ì œì´ë¯€ë¡œ ì´ëŸ° ê²½ìš°ì—ëŠ” RMSLEë¥¼ ì‚¬ìš©í•œë‹¤.</strong>

<img src="./images/evaluation02.png" width="300" style="margin: 20px; margin-left: -10px">

---
##### ğŸš© íšŒê·€ ê³„ìˆ˜ì— ë”°ë¼ ì˜¤ì°¨ìœ¨ì˜ ë©´ì ì„ êµ¬í•˜ëŠ” ë‹¤ì–‘í•œ ë°©ë²•ì„ í†µí•´ ì„±ëŠ¥ì„ í‰ê°€í•  ìˆ˜ ìˆì–´ì•¼ í•œë‹¤.
<img src="./images/evaluation03.gif" width="400" style="margin: 20px; margin-left: -10px">

##### 1ì¸ë‹¹ ê±´ê°• ë³´í—˜ ë¹„ìš©
- age: 1ì°¨ ìˆ˜í˜œìì˜ ì—°ë ¹.
- sex: ë³´í—˜ê³„ì•½ìì˜ ì„±ë³„(ì—¬ì„± ë˜ëŠ” ë‚¨ì„±).
- bmi: ì²´ì§ˆëŸ‰ì§€ìˆ˜, í‚¤ ëŒ€ë¹„ ì²´ì¤‘ì„ ì¸¡ì •í•˜ëŠ” ì²™ë„.
- children: ê±´ê°•ë³´í—˜ì˜ ì ìš©ì„ ë°›ëŠ” ìë…€ì˜ ìˆ˜ ë˜ëŠ” ë¶€ì–‘ê°€ì¡±ì˜ ìˆ˜.
- smoker: í¡ì—° ìƒíƒœ(í¡ì—°ì ë˜ëŠ” ë¹„í¡ì—°ì).
- region: ìˆ˜í˜œìì˜ ë¯¸êµ­ ë‚´ ê±°ì£¼ì§€ì—­(ë¶ë™, ë‚¨ë™, ë‚¨ì„œ, ë¶ì„œ).
- charges: ê±´ê°•ë³´í—˜ì—ì„œ ì²­êµ¬í•˜ëŠ” ê°œì¸ë³„ ì˜ë£Œë¹„.

In [8]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, mean_squared_log_error

def get_evaluation(y_test, prediction):
    MAE =  mean_absolute_error(y_test, prediction)
    MSE = mean_squared_error(y_test, prediction)
    RMSE = np.sqrt(MSE)
    MSLE = mean_squared_log_error(y_test, prediction)
    RMSLE = np.sqrt(mean_squared_log_error(y_test, prediction))
    R2 = r2_score(y_test, prediction)

    print('MAE: {:.4f}, MSE: {:.4f}, RMSE: {:.4f}, MSLE: {:.4f}, RMSLE: {:.4f}, R2: {:.4f}'.format(MAE, MSE, RMSE, MSLE, RMSLE, R2))

In [9]:
import pandas as pd
medical_cost_df = pd.read_csv('./datasets/medical_cost.csv')
medical_cost_df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder

columns = ['sex', 'smoker', 'region']
encoders = []
for column in columns:
    encoder = LabelEncoder()
    category = encoder.fit_transform(medical_cost_df[column])
    medical_cost_df[column] = category
    encoders.append(encoder)

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

features, targets = medical_cost_df.iloc[:, :-1], medical_cost_df.charges

X_train, X_test, y_train, y_test = train_test_split(features, targets, test_size=0.2, random_state=0)

# ë¡œê·¸ ë³€í™˜
y_train = np.log1p(y_train)

linear_regression = LinearRegression()

linear_regression.fit(X_train, y_train)

prediction = linear_regression.predict(X_test)

get_evaluation(np.log1p(y_test), prediction)

MAE: 0.2639, MSE: 0.1771, RMSE: 0.4208, MSLE: 0.0017, RMSLE: 0.0417, R2: 0.7891