### Logistic Regression Task

##### 사람의 체온과 습도를 통한 스트레스 예측

- Humidity: 스트레스를 느낄 때, 여러분의 체온이 상승하여 땀샘이 활성화됩니다. 이 땀은 습도 수준으로 여겨집니다.
- Temperature: 스트레스를 받는 동안 사람의 체온입니다.
- Stepcount: 스트레스를 받는 상황에서 당사자가 적용하는 스텝 수입니다.
- Stress_Level: 위의 세 가지 요인에 기초하여 스트레스 수준을 높음, 중간 및 낮음으로 예측합니다.

In [1]:
import pandas as pd

stress_df = pd.read_csv('./datasets/stress.csv')
stress_df

      Humidity  Temperature  Step_count  Stress_Level
0        21.33        90.33         123             1
1        21.41        90.41          93             1
2        27.12        96.12         196             2
3        27.64        96.64         177             2
4        10.87        79.87          87             0
...        ...          ...         ...           ...
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

[2001 rows x 4 columns]