### Support Vector Regression Task

##### 한국 방문자 수 예측

- date: 날짜 (년-월)
- nation: 방문자의 국가
- visitor: 방문자 수
- growth: 전년 동월 대비 방문객 수 성장률
- share: 해당 월의 전체 방문자 중 해당 국가 비율

##### 년도와 국가를 입력해서 예상 방문자 수를 예측하세요.

In [1]:
import pandas as pd

visitor_df = pd.read_csv('./datasets/korea_visitor.csv')
visitor_df

,date,nation,visitor,growth,share,tourism,business,official affairs,studying,others
0,2019-1,China,392814,28.737870,35.555117,320113,2993,138,8793,60777
1,2019-1,Japan,206526,23.606830,18.693468,198805,2233,127,785,4576
2,2019-1,Taiwan,87954,16.003693,7.961057,86393,74,22,180,1285
3,2019-1,Hong Kong,35896,3.533212,3.249086,34653,59,2,90,1092
4,2019-1,Macao,2570,-12.376406,0.232621,2506,2,0,17,45
...,...,...,...,...,...,...,...,...,...,...
955,2020-4,Oceania others,13,-97.239915,0.044195,0,0,0,0,13
956,2020-4,South Africa,22,-98.101812,0.074792,2,0,0,0,20
957,2020-4,Africa others,177,-95.412131,0.601734,11,5,0,11,150
958,2020-4,Stateless,3,-95.312500,0.010199,0,0,0,0,3
959,2020-4,Overseas Korean,698,-96.540101,2.372939,0,0,0,0,698